* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.col1-12 {
    width: calc( 100% * (1/12));
}
.col1-5 {
    width: calc( 100% * (1/5));
}
.col2-12 {
    width: calc( 100% * (2/12));
}
.col3-12 {
    width: calc( 100% * (3/12));
}
.col4-12 {
    width: calc( 100% * (4/12));
}
.col5-12 {
    width: calc( 100% * (5/12));
}
.col6-12 {
    width: calc( 100% * (6/12));
}
.col7-12 {
    width: calc( 100% * (7/12));
}
.col8-12 {
    width: calc( 100% * (8/12));
}
.col9-12 {
    width: calc( 100% * (9/12));
}
.col10-12 {
    width: calc( 100% * (10/12));
}
.col11-12 {
    width: calc( 100% * (11/12));
}
.col12-12 {
    width: calc( 100% * (12/12));
}
.height-10 {
    height: 10%;
}
.height-20 {
    height: 20%;
}
.height-30 {
    height: 30%;
}
.height-40 {
    height: 40%;
}
.height-50 {
    height: 50%;
}
.height-60 {
    height: 60%;
}
.height-70 {
    height: 70%;
}
.height-80 {
    height: 80%;
}
.height-90 {
    height: 90%;
}
.height-100 {
    height: 100%;
}
.t-white {
    color: #FFFFFF;
}
.d-block {
    display: block;
}
.d-inline-block {
    display: inline-block;
}
.d-none {
    display: none;
}
.d-flex-col {
    display: flex;
    flex-direction: column;
}
.d-flex-row {
    display: flex;
    flex-direction: row;
}
.content-center {
    justify-content: center;
}
.item-center {
    align-items: center;
}
.item-flex-end {
    align-items: flex-end;
}
.item-flex-start {
    align-items: flex-start;
}
.self-center {
    align-self: center;
}
.self-flex-start {
    align-self: flex-start;
}
.self-flex-end {
    align-self: flex-end;
}
.content-space-between {
    justify-content: space-between;
}
.content-space-around {
    justify-content: space-around;
}
.posit-relative {
    position: relative;
}
.posit-absolute {
    position: absolute;
}
.posit-sticky {
    position: sticky;
}
.posit-fixed {
    position: fixed;
}
.img-fit-cover {
    object-fit: cover;
    height: auto;
}
.b-sizing-boder-box {
    box-sizing: border-box;
}

body {
    padding-left: 72px;
    padding-right: 72px;
    background-color:#1C233D;
    padding-top: 15px;
}
.header .header-name {
    font-family: 'Space Grotesk', sans-serif;
    font-style: Bold;
    Font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}
.header .header-menu {
    font-family: 'Space Grotesk', sans-serif;
    font-style: Regular;
    Font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}
.header .header-search {
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    height: 35px;
    width: 350px;
    padding: 10px;
}
.header .header-search> div {
    font-family: 'Space Grotesk', sans-serif;
    font-style: Regular;
    Font-size: 10;
    line-height: 13px;
}
.header button {
    height: 30px;
    width: 93px;
    background: rgb(191,196,238);
    background: linear-gradient(90deg, rgba(191,196,238,0) 0%, rgba(195,103,230,1) 58%, rgba(190,206,239,1) 100%);
    border-radius: 2px;
}
main {
    height: 500px;
    width: 100%;
    margin-top: 120px;
}
main .main-content .text-big {
    font-family: 'Space Grotesk', sans-serif;
    font-style: bold;
    Font-size: 60px;
    width: 400px;
}
main .main-content .text-small {
    font-family: 'Poppins', sans-serif;
    font-style: Medium;
    Font-size: 13px;
    width: 300px;
}
.main-content-foot-item {
    margin-right: 80px;
}
.main-content-foot-item-number {
    font-family: 'Space Grotesk', sans-serif;
    font-style: bold;
    Font-size: 36px;
}
.main-content-foot-item-detail {
    font-family: 'Space Grotesk', sans-serif;
    font-style: bold;
    Font-size: 12px;
}
main .main-banner {
    padding: 29px 21px;
    background-color: #30384D;
}
main .main-banner img {
    width: 100%;
    object-fit: cover;
}
